
<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">sass</a></li>
      <li><a href="">sass <span class="new badge">4</span></a></li>
      <li><a href="">sass</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <table>
      <thead>
        <tr>
            <th data-field="id">email</th>
            <th data-field="name">password</th>
            <th data-field="price">createdAt</th>
            <th data-field="price">updatedAt</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Alvin</td>
          <td>Eclair</td>
          <td>$0.87</td>
          <td>$0.87</td>
        </tr>
      </tbody>
    </table>
</div>
